/* Group Mail */
body#list {
    #body_list {
        margin-top: 50px;
    }

    .mysidebar {
        top: 39px !important;
    }

    li {
        transition: all .156s linear;
    }

    li.fn {
        background: var(--btn-primary-background);

        a {
            color: var(--btn-primary-text-color);
        }
    }

    li.fs:hover {
        background-color: var(--btn-primary-background);

        a {
            color          : var(--btn-primary-text-color);
            text-decoration: none;
        }
    }
}