#postop0,
.toolbgline.barspace4 {
    display: none;
}

.settingTitle {
    padding-top: 0;
}

.settingtable,
.settingTitle .selected {
    background: var(--panel-white-background-color);
}

.settingSub {
    padding: 0 !important;

    a {
        color  : var(--panel-text-color);
        display: block;
        padding: 10px;
    }
}

.settingSub.selected {
    padding: 10px !important
}

.toolbgline.h22 {
    /* Save Toolbar */
    bottom      : 0;
    top         : unset;
    display     : flex;
    align-items : center;
    padding-left: 10px;
    border-top  : 2px solid var(--toolbar-border-color);
}

body[onunload="changeStyle();"],
body.tbody {
    .txt_title {
        display: none;
    }
}