#frm[action="/cgi-bin/compose_send"] {
    background: var(--panel-gray-background-color);

    #sendtimepadding {
        background: var(--panel-white-background-color);
        border    : 2px solid var(--panel-white-border-color) !important;
        margin    : 10px;

        .div_txt {
            border     : 0px;
            background : transparent;
            padding    : 0;
            height     : 39px;
            line-height: 39px;
            margin     : -3px 0 0 0;
        }

        .content_title {
            padding-top: 0px !important;
        }

        #composeMoreOpt {
            padding     : 0 !important;
            border-left : 2px;
            border-right: 2px;
        }

        #rightArea {
            margin       : 0 !important;
            border       : 1px solid var(--panel-white-border-color);
            border-bottom: 0;
        }

        #rightAreaBtnWarp {
            border-left : 1px solid var(--panel-white-border-color);
            margin-left : -1px !important;
            width       : 15px !important;
            padding-left: 5px;
        }

        #rightAreaBtnWarp~div {
            margin-top: 0 !important;

            >div:first-child:not([style*="68px"]) {
                display: none !important;
            }

            >div[style*="68px"] {
                margin: 4px !important;
            }

            #addrsDiv {
                margin-top: -1px;
            }

            table.i {
                border       : 1px solid #ccc;
                margin-top   : -1px !important;
                margin-bottom: -1px !important;
                margin-left  : 0px !important;

                td:first-child>div {
                    padding  : 0 !important;
                    min-width: 62px !important;
                    margin   : 5px;

                    a,
                    span {
                        display   : inline-block;
                        padding   : 5px 10px !important;
                        background: var(--btn-secondary-background);
                        color     : var(--btn-secondary-text-color);
                        margin    : 0;
                    }
                }

                td {
                    [clss="f_family"] {
                        display: none !important;
                    }
                }
            }
        }

        #addrQzone~table.i {
            tr:first-child {
                display: none;
            }
        }

        .addr_base {
            height     : 17px;
            margin     : 1px;
            line-height: 16px;
            padding    : 10px;
        }

        .addr_text {
            float      : none !important;
            height     : 40px;
            margin     : 0;
            line-height: 40px;

            input {
                height     : 39px;
                padding    : 0;
                line-height: 39px;
            }
        }

        #addrOper {
            padding: 10px;
            border : 1px solid var(--panel-white-border-color);

            .input_title {
                margin: 0 0 0 65px;
            }
        }

        >.input_title {
            padding    : 10px 10px 10px 75px !important;
            margin     : 0;
            border-left: 1px solid var(--panel-white-border-color);
        }
    }

    #QMEditorArea {
        margin-left  : -73px;
        margin-top   : -2px;
        margin-bottom: -2px;
        border       : 1px solid var(--panel-white-border-color);
        border-right : 0;
    }
}

.qmEditorBase {
    border: 0px;
}

.qmEditorIfrmEditArea {
    border: 0px;
}

.qmEditorContent {
    height: unset !important;
}

.qmEditorToolBarDiv {
    border-bottom: 0px;
}

.composetab {
    background: var(--panel-white-background-color);
    height    : 39px;
    width     : 100%;
    display   : block;

    tr {
        td {
            padding: 0 !important;
        }
    }

    .composetab_img {
        display: none;
    }

    .composetab_unsel {
        background: var(--panel-white-background-color);
        overflow  : hidden;
        height    : 39px;

        a {
            color      : var(--panel-text-color);
            font-weight: 400;
            display    : block;
            padding    : 10px !important;
            margin     : 0px;
            transition : all 0.2s linear 0s;
            width      : auto;
        }

        a:hover {
            text-decoration: none;
            background     : var(--btn-hover-background);
        }
    }

    .composetab_sel {
        background: var(--panel-white-background-color);
        height    : 39px;
        position  : relative;

        div {
            padding: 10px !important;
            margin : 0px;
            cursor : pointer;
        }

        div:hover {
            background: var(--btn-hover-background);
        }
    }

    .composetab_sel:after {
        content      : "";
        display      : block;
        border-bottom: 5px solid var(--main-color);
        position     : absolute;
        width        : 60px;
        bottom       : 2px;
        left         : 25px;
        transition   : all 0.156s linear 0s;
    }

    .composetab_sel:hover:after {
        width: 70px;
        left : 20px;
    }
}

#toolbar {

    .toolbg,
    .toolbg1 {
        background-color: var(--panel-background-color);
        padding         : 10px;
        border          : 2px solid var(--panel-border-color);
        border-width    : 2px 0 0 0;

        .right {
            margin: 0 !important;
        }

        .btn_space {
            height          : 22px;
            padding         : 5px 10px;
            margin-right    : 10px;
            cursor          : pointer;
            display         : inline-block;
            background-color: var(--btn-background);
        }

        .btn_space:hover {
            background-color: var(--btn-hover-background);
        }
    }
}